body{
 margin: 0;
 padding: 0;
 background-color: rgba(3, 9, 17, 0.938) ;
}

.title{

height: 35em;
width: 100%;
 text-align: center;


}
.title p {
 width: 30%;
 color: white;
 margin: auto;
}
.title h1{
 color: rgb(246, 111, 84);
 font-family:'Times New Roman', Times, serif jne;
 font-weight:700;
padding-top: 7vw;
 font-size: 4vw;
}
.title img{
 width: 10em;
 position: absolute;
 right:  30px;
}
.players img{
 width: 100%;
 height: 15vw;

}
.player-1{
 text-align: center;
 color: white;
 border: 1px solid gray;
 width: 100%;
height: 27vw;

}
 button{
 color: white;
 background-color: rgb(38, 38, 254);
 padding: 5% 30%;
 border: none;
 font-size: 1em;
 font-weight: 700;


}
button:focus{
 background-color:gray;
}
.players-container{
 width: 80%;
 
 margin: auto;
 display: grid;
 grid-template-columns: auto auto auto auto;
 grid-gap: 30px;
 margin-top: 100px;

 
 
}
.grid-column{
 grid-column: 1/2;
}
.btnName h2{
 position: relative;
 left: -4em;
 top: 2em;
 color: gray;
}
.budget{
 color: white;
 width: 300px;
 text-align:center;
 background-color: black;
 grid-column: 4;
 grid-row: 2 / span 2;
 height: 35vw;
 padding-top: 2vw;
}
.budget input{
 width: 20vh;
 height: 4vh;
 background-color: black;
 color: white;


}
.label{

 border: 1px solid gray;
 width: 80px;
 margin: auto;
 position: relative;
 bottom: 6px;
 top: 10px;
 
}
.input-div{
margin-bottom: 20px;
margin-top: 15px;

}
.total{
 display: flex;
justify-content:space-around;
}
table{
 width: 80%;
 font-size: 25px;
 margin-top: 50px;
 margin-left: 15px;
 
}
table th {
 padding: 10px;
 
}
footer{
 text-align: center;
 background-color: black;
 color: rgb(255, 141, 92);
 height: 10vw;
 padding-top: 20px;
 margin-top: 50px;
 border-top: 2px solid gray;
}




